@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tourney:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-image: url(https://media3.giphy.com/media/m1945ZDLaz79YstxRT/giphy.gif?cid=ecf05e47hr7mtcx1p4habr57oi22fdtxtzmbsgjuwazztljf&rid=giphy.gif&ct=s);
    background-repeat: repeat;
    background-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
    background-color: rgb(255, 255, 255, 0.92   );
    border-radius: 10px;
    padding: 30px 40px 20px 30px;
    max-width: 450px;
    min-width: 300px;
    margin: 40px 0 40px 0;
}

input,
select,
button,
label{
    display: block;
    width: 100%;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: rgb(20, 20, 20);
    border-radius: 5px;
    font-weight: bold;
}

input,
select,
button{
margin-bottom: 1.25rem;
padding: 10px 15px;
}

label{
    margin-bottom: 0.5rem;
}

button{
    background-color: rgb(142, 177, 142);
    color: white;
}

button:hover{
    background-color: rgb(129, 161, 129);
}

input,
select{
    background-color: rgb(171, 201, 171);
}

h1{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Tourney', cursive;
    text-transform: uppercase;
}

h2{
    font-size: 1rem;
    margin-right: 10px;
}

p:not(p#infoAmount),
h2{
    text-align: right;
}

p{
    margin-bottom: 0.75rem;
    min-width: 30%;
}

p#infoAmount{
    margin-top: 20px;
}

article div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}